.footer {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border-top: 1px solid black;
  padding: 10px;
}

.footer__title {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: rgb(82, 82, 82);
  font-size: 32px;
}

.footer__title:hover {
  transition: 0.5s;
  color: rgb(0, 84, 168);
}

.footer__anchor {
  text-decoration: none;
  color: rgb(82, 82, 82);
  margin: 3px;
}

.footer__anchor:hover {
  transition: 0.5s;
  cursor: pointer;
  color: rgb(0, 126, 253);
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__secureInfo {
  display: flex;
  align-items: center;
}

.footer__secureInfo img {
  height: 40px;
  width: 40px;
}

.footer__secureInfo h3 {
  letter-spacing: 2px;
  font-weight: normal;
  margin-left: 10px;
  width: 150px;
  font-size: 16px;
}
.footer__socials {
  display: flex;
  justify-content: center;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  margin: 3px;
}

.footer__social:hover {
  transition: 0.5s;
  background-color: rgb(55, 155, 254);
  border-radius: 50%;
}
